VITE_CURRENCY_BASE_URL = https://openexchangerates.org/api
VITE_CURRENCY_API_KEY = your_openexchangerates_api_key
VITE_HISTORY_CURRENCY_BASE_URL = https://currency-conversion-and-exchange-rates.p.rapidapi.com
VITE_HISTORY_CURRENCY_API_KEY = your_rapid_api_key